#parse( $body )
<p><h3>Side A's length is $myTriangle.getSideA()</h3></p>
<p><h3>Side B's length is $myTriangle.getSideB()</h3></p>
<p><h3>Side C's length is $myTriangle.getSideC()</h3></p>

#if ($myTriangle.isTriangle())
  <p><h3>It's a triangle!</h3></p>
  <h3>It's a $myTriangle.triangleType() triangle</h3>
  #if ($myTriangle.isRightTriangle())
  <h3>This is also a right triangle.</h3>
  #end
#else
<div class="wrong">
  <h3>That isn't a triangle!</h3>
</div>
#end
